body,html{
    height: 100%;
    margin:0 auto;
}   
.section1{
    background: url(../img/joker.png);
    width: 100%;
    height: 100%;
    text-align: center;
}
.judul{
    font-family: cursive;
    font-size: 70px;
    color: brown;
}
.sub-judul{
    font-family: fantasy;
    font-size: 30px;
    color: maroon;
}
.section2{
    padding:100px 0px;
    background: #020016;
}
.col-kiri{
    background: #C6FF6B;
}
.col-kanan{
    background: #E8610C;
}